.suggestion {
  cursor: pointer;
  padding: 10px 20px;
  border-bottom: 1px solid #f5f5f5;
  display: flex;
  align-items: center;

  &:hover {
    background-color: #f5f5f5;
  }

  &:last-child {
    border-radius: 0 0 6px 6px;
    border-bottom: none;
  }
}

.recommended {
  background-color: #f5f5f5;
}

.suggestionHeader {
  font-weight: 500;
  font-size: 16px;
  color: #000;
}

.suggestionDescription {
  font-size: 14px;
  color: #888;
}

.suggestionColumn {
  flex: 1;
}
