$animation-time: 0.3s;

.video {
  width: 240px;
  height: 135px;
  border-radius: 6px;
  background-color: #000;
  transform: translateX(200px);
  opacity: 0;
  animation: video-animation $animation-time 0.2s forwards ease-in;
}

.wrapper {
  position: absolute;
  top: 150px;
  left: 30px;
  width: 640px;
  height: 360px;
}

@keyframes video-animation {
  0% {
    opacity: 0;
    height: 135px;
    width: 240px;
    transform: translateX(200px);
  }
  100% {
    opacity: 1;
    height: 360px;
    width: 640px;
    transform: translateX(0px);
  }
}
